<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CaringRN</title>
</head>
<script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
<script src="https://mediafiles.botpress.cloud/dd37f542-bbda-496d-975c-38db877df9e7/webchat/config.js" defer></script>
<script src="https://kit.fontawesome.com/49e3f33bf5.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="style.css">

<body>
    <section id="sec1">
        <div class="team">
            <img src="/Dev Dazzlers.gif" alt="">
        </div>
        <div class="sec1cont">
            <nav class="navbar">
                <div class="logo">
                    <img src="/logo.gif" alt="">
                </div>
                <div id="hamburger">
                    <button id="ham">
                        <i class='fas fa-bars' id="ham-1"></i>
                    </button>
                    <button id="cross">
                        <i class='fas fa-times-circle'></i>
                    </button>
                </div>
                <ul class="nav-items" id="nv">
                    <li><a href="#sec1">Home</a></li>
                    <li><a href="#sec2">Services</a></li>
                    <li><a href="#sec3">About Us</a></li>
                    <li><a href="https://linktr.ee/Caring_Right_Now" target="_blank">Contact Us</a></li>
                </ul>
                <div class="ai" id="ai-1">
                   <a href="https://mediafiles.botpress.cloud/dd37f542-bbda-496d-975c-38db877df9e7/webchat/bot.html"><img src="/ai.jpg" alt="" id="ai-c"></a> 
                </div>
                <div class="icns">
                    <a href="https://mongo-wggq.onrender.com/login" target="_blank"><i class="fa fa-user-circle-o"></i></a> <%= name %>
                    <a href="https://linktr.ee/Caring_Right_Now" target="_blank"><i class="fa fa-phone-square"></i></a>
                </div>
            </nav>
            <div class="right">
                <div class="rightgif">
                    <img name="deles" id="dls" width="500" height="400">
                </div>
            </div>
            <div class="buttons">
                <button><a href="https://caringrnproduct.netlify.app/" target="_blank">Explore Now <i class='fas fa-external-link-alt'></i></a></button>
            </div>
        </div>
    </section>
    <section id="sec2">
        <div class="heading">
            <h1>Services <i class='fas fa-dove'></i> </h1>
        </div>
        <div class="cards">
            <div class="card-1" id="c-1">
                <img src="/nurse2.png" alt="">
                <span id="c-1span">
                    We aim to provide nurses for the elderly ones, who need and deserve the best care.
                    <br>
                    <br>
                    We are dedicated to providing compassionate and specialized nursing care for elderly individuals.
                    <br>
                    <br>
                    Our mission is rooted in the profound belief that elderly individuals, who have contributed so much
                    to society throughout their lives, deserve nothing less than the utmost care and attention tailored
                    to their specific needs and preferences.
                </span>
            </div>
            <div class="card-1" id="c-2">
                <img src="/nurse3.png" alt="">
                <span id="c-2span">
                    Our goal is to offer comprehensive nursing support for women during the entirety of their pregnancy
                    journey, extending care both before conception and following childbirth.
                    <br>
                    <br>
                    Recognizing the significance of this transformative period in a woman's life, and fostering a
                    supportive environment for expectant mothers.
                    <br>
                    <br>
                    Additionally, offering guidance on newborn care, breastfeeding support, and emotional well-being in
                    the postpartum period.
                </span>
            </div>
            <div class="card-1" id="c-3">
                <img src="/nurse1.png" alt="">
                <span id="c-1span">
                    Our commitment extends beyond pregnancy care to encompass comprehensive nursing support for
                    childcare as well.
                    <br>
                    <br>
                    Understanding the critical role that early childhood development plays in shaping a child's future,
                    we strive to offer skilled and compassionate nursing services tailored to the unique needs of
                    infants and young children.
                    <br>
                    <br>
                    By providing high-quality nursing care for childcare, we aim to create a nurturing environment where
                    children can thrive and reach their full potential.
                </span>
            </div>
        </div>
    </section>
    <section id="sec3">
        <div class="heading2">
            <h1>About Us <i class='fas fa-dragon'></i> </h1>
        </div>
        <div class="about">
            <div class="lft">
                <img src="/dev.jpg" alt="">
            </div>
            <div class="rght">
                <span>
                    Welcome to DevDazzlers! We are a dynamic team of four passionate second-year university students who
                    have come together to address a pressing need in our community: access to reliable and convenient
                    nursing care.
                    <br>
                    <br>
                    With a shared vision of leveraging technology to make a positive impact, DevDazzlers embarked on a
                    journey to develop a user-friendly website that revolutionizes the way individuals find and appoint
                    nurses for their specific needs.
                    <br>
                    <br>
                    Our innovative platform allows users to seamlessly connect with nurses from hospitals and nursing
                    homes across their city, empowering them to tailor their care preferences and select the perfect
                    match for their requirements.
                    <br>
                    <br>
                    Committed to excellence, we, DevDazzlers, have poured our collective expertise in web development,
                    design, and user experience into creating a solution that prioritizes accessibility, transparency,
                    and convenience. Through our dedication and ingenuity, we aspire to make a meaningful difference in
                    the lives of both patients and caregivers, ensuring that everyone can access the quality nursing
                    care they deserve with just a few clicks.
                </span>
            </div>
        </div>
    </section>
    <script src="app.js"></script>
    <section id="sec4">
        <img src="/Dev Dazzlers.gif" alt="">
        <span>presents before you!</span>
        <img src="/logo.gif" alt="">
    </section>
</body>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS";
}

body {
  font-family: "Trebuchet MS";
}

#sec1 {
  /* border: 2px solid red; */
  height: 110vh;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  background-color: rgb(0, 0, 0);
  flex-direction: column;
  font-family: "Trebuchet MS";
}

.sec1cont {
  /* border: 2px solid blue; */
  height: 80%;
  width: 90%;
  background: url(/bak1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* opacity: 0; */
  border-radius: 15px;
  font-family: "Trebuchet MS";
}
.navbar {
  /* border: 2px solid orange; */
  padding: 1%;
  display: flex;
  /* padding: 5px; */
  /* justify-content: end; */
  font-family: "Trebuchet MS";
}

.logo {
  /* border: 2px solid red; */
  display: flex;
}
.logo > img {
  height: 10vh;
  border-radius: 100%;
}

.navbar > ul {
  display: flex;
  /* border: 2px solid greenyellow; */
  width: fit-content;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS";
}

.navbar > ul > li {
  padding: 10px;
  border-radius: 20px;
  /* border: 2px solid rgb(180, 221, 199); */
  margin: 20px;
  cursor: pointer;
  list-style: none;
  font-family: "Trebuchet MS";
}

.navbar > ul > li:hover {
  background-color: rgb(81, 192, 101);
  transition-duration: 1s;
}
.navbar > ul > li > a {
  font-size: 1.1rem;
  text-decoration: none;
  color: rgb(172, 249, 175);
  display: block;
  font-family: "Trebuchet MS";
}
.navbar > ul > li > a:hover,
.navbar > ul > li > a:focus {
  color: whitesmoke;
}

@keyframes rot 
{
  0%
  {
    rotate: 0deg;
  }

  35%
  {
    rotate: y 180deg;
  }

  60%
  {
    rotate: z -80deg;
  }
  90%
  {
    rotate: y -180deg;
  }
  100%
  {
    rotate: 0deg;
  }
}


.ai {
  display: flex;
  /* border: 2px solid white; */
  margin-left: 10%;
  border-radius: 100%;
  cursor: pointer;
  /* width: 10vh;
  height: 10vh; */
  width: 14vh;
  height: 16vh;
  font-family: "Trebuchet MS";
  animation: rot 3s infinite;
}
.ai>a
{
  /* border: 2px solid white; */
  display: flex;
  width: 100%;
  height: 100%;
}
.ai:hover {
  /* border: 3px solid rgb(255, 118, 118); */
  transition-duration: 1s;
}
.ai > a > img {
  width: 100%;
  height: auto;
  /* width: fit-content; */
  border-radius: 100%;
}

.icns {
  display: flex;
  /* border: 2px solid white; */
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 15%;
  font-family: "Trebuchet MS";
}

.icns > a {
  color: white;
  /* border: 2px solid orange; */
  padding: 15px;
  border-radius: 100%;
}

.icns > a:hover {
  color: rgb(199, 255, 208);
}

.icns > a > i {
  font-size: 2rem;
  margin-left: 5%;
  /* font-family: "Trebuchet MS"; */
}

.team {
  /* border: 2px solid greenyellow; */
  /* justify-content: center; */
  display: flex;
  width: 100%;
  height: 18%;
  font-family: "Trebuchet MS";
}

.team > img {
  /* height: 100%; */
  /* z-index: -1; */
  width: 10%;
}

.rightgif {
  /* border: 2px solid blue; */
  display: flex;
  /* align-self: flex-end; */
  justify-content: end;
  width: 70%;
  height: 100%;
  margin-right: 10%;
  margin-top: -5%;
}

.right {
  /* border: 2px solid red; */
  display: flex;
  justify-content: end;
  margin-top: 8%;
  /* width: 50%; */
  /* flex-direction: column; */
  /* width: fit-content; */
}

.rightgif > img {
  border-radius: 3%;
  width: 50%;
  height: 20%;
}

.buttons {
  /* border: 2px solid red; */
  padding-left: 12%;
  /* z-index: 100; */
  position: relative;
  margin-top: -10%;
}

.buttons > button {
  background: none;
  padding: 1.2%;
  border: 2px solid rgb(94, 229, 94);
  cursor: pointer;
}
.buttons > button:hover {
  background-color: rgb(62, 67, 62);
  /* border: none; */
  transition-duration: 1s;
  /* border: 2px solid black; */
  border: none;
}

.buttons > button > a {
  /* color: black; */
  color: rgb(199, 248, 205);
  text-decoration: none;
  font-family: "Trebuchet MS";
  font-size: 1rem;
  /* background-color: greenyellow; */
  /* padding: 1%; */
}

.buttons > button > a:hover {
  color: rgb(160, 252, 160);
  /* color: black; */
}

#sec2 {
  height: 120vh;
  background-color: rgb(33, 33, 33);
  color: rgb(94, 194, 94);
  font-family: "Trebuchet MS";
}

.heading {
  /* border: 2px solid red; */
  display: flex;
  padding: 1%;
  padding-top: 2.1%;
  padding-left: 3%;
}
.heading > h1 {
  font-size: 2rem;
  font-family: "Trebuchet MS";
}

.cards {
  /* border: 2px solid red; */
  display: flex;
  height: 90%;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS";
}

.card-1 {
  display: flex;
  /* border: 2px solid white; */
  flex-direction: column;
  width: 28%;
  height: max-content;
  margin: 3%;
}
.card-1 > img {
  width: 100%;
  height: 50%;
  border-radius: 3%;
}

#c-1 {
  background: url("/bak2.jpeg");
  background-size: cover;
  border-radius: 3%;
  font-family: "Trebuchet MS";
}
#c-2 {
  background: url("/bak2.jpg");
  background-size: cover;
  border-radius: 3%;
  font-family: "Trebuchet MS";
}
#c-3 {
  background: url("/bak3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3%;
  font-family: "Trebuchet MS";
}

#c-1span {
  /* border: 2px solid white; */
  padding: 4%;
  color: white;
  font-size: 1.2rem;
  /* margin-top: 5%; */
  font-family: "Trebuchet MS";
}
#c-2span {
  /* border: 2px solid white; */
  padding: 4%;
  color: white;
  font-size: 1.2rem;
  /* margin-top: 5%; */
  font-family: "Trebuchet MS";
}

#sec3 {
  height: 100vh;
  background-color: black;
  font-family: "Trebuchet MS";
}

.heading2 {
  color: rgb(71, 187, 71);
  /* border: 2px solid white; */
  padding: 2%;
  font-size: 1.2rem;
  font-family: "Trebuchet MS";
}

.about {
  /* border: 2px solid white; */
  padding: 1%;
  /* align-items: center; */
  justify-content: center;
  height: 80%;
  width: 100%;
  display: flex;
  font-family: "Trebuchet MS";
}

.lft {
  /* border: 2px solid white; */
  display: flex;
  align-items: center;
  margin-right: 2%;
  margin-left: 1%;
}
.lft > img {
  height: 60%;
  border-radius: 2%;
}
.rght {
  display: flex;
  /* border: 2px solid white; */
  width: 90%;
  color: white;
  background: url("/bak4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3%;
}
.rght > span {
  /* border: 2px solid orange; */
  font-size: 1.3rem;
  display: flex;
  /* align-items: center; */
  padding: 8%;
  font-family: "Trebuchet MS";
}

#sec4 {
  background-color: rgb(27, 25, 25);
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#sec4 > img {
  /* border: 2px solid white; */
  width: 20%;
  height: 35vh;
  border-radius: 100%;
}
#sec4 > span {
  /* border: 2px solid white; */
  display: flex;
  align-items: center;
  font-size: 2rem;
  padding: 2%;
  /* margin-top: -5%; */
  color: rgb(110, 209, 110);
}

#hamburger {
  /* border: 2px solid red; */
  height: fit-content;
  padding: 3%;
  display: flex;
  margin-top: 1.6%;
  /* display: none; */
  cursor: pointer;
  font-family: "Trebuchet MS";

}
#ham {
  border: none;
  /* border: 2px solid white; */
  padding: 60%;
  display: flex;
  display: none;
  font-size: 1.1rem;
  font-weight: 500;
  background: none;
  color: rgb(132, 227, 129);
  background-color: rgb(59, 59, 59);
  cursor: pointer;
  font-family: "Trebuchet MS";
}
#cross {
  border: none;
  /* border: 2px solid white; */
  padding: 60%;
  display: flex;
  display: none;
  font-size: 1.1rem;
  font-weight: 500;
  background: none;
  color: rgb(132, 227, 129);
  background-color: rgb(59, 59, 59);
  cursor: pointer;
  font-family: "Trebuchet MS";
}
.ham > i, .cross>i{
  /* padding: 2%; */
  display: flex;
  /* font-size: 1.7rem; */
}

#cross {
  display: none;
}

@media screen and (width < 855px) {
  body
  {
    width: auto;
    font-family: "Trebuchet MS";
  }
  .sec1cont {
    flex-direction: column;
  }

  .navbar > ul {
    /* flex-direction: column; */
    display: none;
  }
  #ham {
    display: flex;
  }

  .icns
  {
    /* border: 2px solid whitesmoke; */
    flex-direction: column;
  }

  .ai
  {
    /* height: 7vh; */
    margin-top: 2%;
    width: auto;
    height: 10vh;
  }

  #sec2 {
    flex-direction: column;
    height: fit-content;
  }

  .cards {
    /* width: 100%; */
    /* height: fit-content; */
    flex-direction: column;
  }
  #c-1span, #c-2span
  {
    font-size: 1rem;
  }
  .card-1 {
    width: 90%;
    /* border: 2px solid white; */
    height: fit-content;
    /* height: 85vh; */
  }
  .sec1cont
  {
    position: relative;
  }
  .nav-items {
    /* border: 2px solid white; */
    z-index: 100;
    display: flex;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 12%;
    background-color: rgb(43, 43, 43);
    border-radius: 3%;
  }

  #sec3 {
    height: fit-content;
    justify-content: center;
  }
  .lft > img {
    height: 40vh;
  }
  .lft {
    margin-bottom: 1.5%;
  }
  .about {
    /* border: 2px solid white; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
  }
  #sec4 > img {
    height: auto;
  }
  .rightgif {
    /* border: 2px solid white; */
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;
  }
  .rightgif > img {
    height: 38vh;
    width: auto;
  }
  .team > img {
    width: 20%;
  }
  .buttons
  {
    /* border: 2px solid white; */
    margin-top: 5%;
    display: flex;
    justify-content: center;
    padding: 1%;
    /* align-items: center; */
  }
  .buttons>button
  {
    padding: 3%;
    border-radius: 10%;
  }
  .rght>span
  {
    font-size: 1rem;
  }
  #sec4>span
  {
    font-size: 1.2rem;
  }
}


@media screen and (width < 1285px) and (width > 856px) 
{
  .navbar > ul > li > a {
    font-size: 0.9rem;
    text-decoration: none;
    color: rgb(172, 249, 175);
    display: block;
    /* border: 2px solid red; */
    width: 160%;
  }
  body
  {
    width: 76vh;
  }
}
</style>
<script>
var m = 0;
var images = [];
var tme = 3000;

// images list
images[0] = 'nurse1.png';
images[1] = 'nurse5.jpeg';
images[2] = 'nurse6.jpeg';

// change image
// var sld = document.getElementsByName(dls);
function changeimg() 
{

    document.deles.src = images[m];
    // sld.src = `img${m}.jpg`;
    // sld.src = images[m];
    if (m < images.length - 1) {
        m++;
    }
    else {
        m = 0;
    }
    setTimeout(changeimg, tme);
}

window.onload = changeimg;


let ham = document.getElementById('ham');
let crossx = document.getElementById('cross');
let nv = document.getElementById('nv');
ham.addEventListener('click', ()=>
{
    nv.style.display = 'flex';
    // document.querySelector('.nav-items').style.flexDirection = 'column';
    // document.getElementById('ai-1').style.display = 'none';
    ham.style.display = 'none';
    crossx.style.display = 'flex';
})


crossx.addEventListener('click', ()=>
{
    nv.style.display = 'none';
    // document.querySelector('.nav-items').style.flexDirection = 'column';
    // document.getElementById('ai-1').style.display = 'flex';
    ham.style.display = 'flex';
    crossx.style.display = 'none';
})

</script>
</html>
